[Desktop Entry]
Type=Application
Name=Notebook
Comment=A quiet, native Linux notebook
Exec=notebook
Icon=io.github.pkkulhari.Notebook
Terminal=false
Categories=Utility;TextEditor;
Keywords=notes;notebooks;markdown;
StartupNotify=true
